.joinInput {
  height: 6rem;
  font-size: 3.5rem;
  border-radius: 8px;
  text-align: center;
  min-width: 0;
  width: 100%;
}
h2 {
  margin: 0.5rem 0;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.imageContainer {
  flex-grow: 0.5;
  width: 100%;
  margin: 0 auto;
  margin-top: 24px;
  background-image: url("/Family.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 10rem;
}
.inputContainer {
  padding: 1rem;
  margin: 0.5rem;
  flex-grow: 1;
}
.joinButton {
  margin: 0;
  font-size: 1.5rem;
  min-width: 8rem;
  width: 100%;
  margin-top: 0.5rem;
}
.backHomeLink {
  width: 10rem;
  font-size: 1rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

@media screen and (min-width: 600px) {
  .inputItems {
    display: flex;
  }
  .joinInput {
    flex-grow: 1;
    width: auto;
  }
  .joinButton {
    height: 6rem;
    margin: 0;
    margin-left: 0.5rem;
    width: auto;
  }
  .contentContainer {
    max-width: 900px;
    margin: 0 auto;
  }
}
body {
  display: flex;
  flex-direction: column;
}
